@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --blue1: rgb(36, 58, 90);
  --blue2: rgba(36, 58, 90, 0.35);
  --accent: rgb(182, 112, 62);
  /* --accent: rgb(184, 152, 125); */
  --accent-1: rgba(182, 112, 62, 0.3);
  --white: rgb(250, 250, 250);
  --dark: rgb(26, 26, 26);
  --font1: 'Overpass', sans-serif;
  /* --font1: 'Jost', sans-serif; */
  --transition: 0.25s ease-in-out;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  background: var(--white);
  font-family: var(--font1);
  box-sizing: border-box;
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}

:after,
:before {
  box-sizing: inherit;
}

/* ---------------------- This is Navbar ---------------------*/

nav {
  width: 100%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font1);
  font-weight: 800;
}

.logo {
  color: var(--blue1);
  font-size: 1.5em;
  font-weight: 900;
  width: 20%;
  /* padding-left: 10%; */
  text-align: end;
  text-transform: uppercase;
}

.nav-elements {
  list-style: none;
  width: 310px;
  display: flex;
  justify-content: space-between;
  color: var(--accent);
  padding-right: 10%;
  text-transform: uppercase;
}

.nav-elements a {
  color: var(--accent);
  padding: 10px;
  text-decoration: none;
  transition: var(--transition);
  box-sizing: border-box;
}

.nav-elements li {
  position: relative;
  transition: var(--transition);
  overflow: hidden;
  padding: 5px 0;
}

.nav-elements li::before {
  content: '';
  position: absolute;
  right: 5px;
  left: 5px;
  bottom: 2px;
  height: 12px;
  background-color: var(--accent-1);
  transition: var(--transition);
  z-index: -1;
  transform: translateX(-150%);
}

.nav-elements li .active {
  color: var(--blue1);
  background-color: var(--accent-1);
}

.nav-elements li .active:hover {
  background-color: rgba(0, 0, 0, 0);
}

.nav-elements li:hover::before {
  transform: translateX(0);
}


/* ---------------------- This is Homepage ---------------------*/

.grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(10rem, 10vw);
  margin-top: 12vh;
}

.intro {
  max-width: 55ch;
  color: var(--blue1);
  font-family: var(--font1);
  font-size: 1em;
  text-align: left;
  align-self: center;
  justify-self: end;
}

.greet {
  font-family: var(--font1);
  font-size: 4em;
  font-weight: 400;
  line-height: 1.2em;
  /* text-align: right; */
  margin-bottom: 35px;
  margin-top: 0;
}

.greet span {
  text-transform: capitalize;
  font-weight: 900;
}

.home-Text {
  /* color: var(--accent); */
  text-align: left;
  letter-spacing: 1.25px;
  line-height: 1.75em;
  font-size: 1.15em;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 30px;
  padding: 20px 0;
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

.emp {
  font-weight: 700;
  padding: 2px 5px;
  color: var(--accent);
  position: relative;
  font-weight: 800;
}

.emp::before {
  background-color: var(--accent-1);
  position: absolute;
  right: 0px;
  bottom: 4px;
  left: 0px;
  height: 8px;
  content: '';
  z-index: -1;
}

.CTA {
  margin-left: 30px;
  font-size: 1.15em;
  font-weight: 500;
}

.button-holder {
  background: var(--blue1);
  border-radius: 5px;
  /* float: right; */
  width: 300px;
  height: 65px;
  /* margin-left: -10%; */
  padding-left: 12px;
  padding-top: 15px;
  overflow: hidden;

}

.button {
  color: var(--white);
  text-decoration: none;
  font-weight: 900;
  font-size: 1.75em;
  letter-spacing: 1.25px;
  margin-left: 20px;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
}

.button::before {
  position: absolute;
  content: '';
  left: -16px;
  top: -15px;
  width: 6px;
  height: 80px;
  background-color: var(--white);
  z-index: 2;
  transform: translateY(-50%);
  transition: var(--transition);
}

.button:hover::before {
  transform: translateY(0);
}

/* ---------------------- This is Homepage & CT Image ---------------------*/

.frame {
  justify-self: start;
}

.frame img {
  width: 500px;
  height: 700px;
  border-radius: 250px;
  object-fit: cover;
}

.face {
  padding: 5px;
  border: 3px solid var(--accent);
  box-sizing: border-box;
}

.arrow-up {
  transform: translateY(5px);
}

/* ---------------------- This is Gallery ---------------------*/

.p-layout {
  margin: auto;
  display: grid;
  grid-template-columns: 20% 1fr;
  /* align-items: start; */
}

.p-tag {
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--blue1);
  font-family: var(--font1);
  font-size: 3.5em;
  font-weight: 800;
  text-align: left;
}

.p-AW {
  padding: 0 50px;
}

.num {
  color: var(--accent);
  /* -webkit-text-stroke: 2px var(--accent); */
  position: relative;
}

.num::before {
  position: absolute;
  content: '';
  right: 0px;
  left: 0px;
  bottom: 5px;
  height: 40%;
  background-color: var(--accent-1);
  z-index: -1;
}

.grid-container-artwork {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 50px;
  margin-bottom: 80px;
}

.frame-AW {
  justify-self: start;
  overflow: hidden;
  transition: var(--transition);
}

.frame-AW .imageBehind img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  padding: 5px;
  border: 3px solid var(--accent);
  object-fit: cover;
  filter: grayscale(0);
  transition: var(--transition);
  box-sizing: border-box;

}

.frame-AW .imageBehind picture video {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  padding: 5px;
  border: 3px solid var(--accent);
  object-fit: cover;
  filter: grayscale(0);
  transition: var(--transition);
  box-sizing: border-box;

}

.frame-AW .imageBehind iframe {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  padding: 5px;
  border: 3px solid var(--accent);
  object-fit: cover;
  filter: grayscale(0);
  transition: var(--transition);
  pointer-events: none;
}

.imageBehind:hover img {
  filter: grayscale(1) blur(1px);
  transition: var(--transition);
}

.imageBehind:hover picture>video {
  filter: grayscale(1) blur(1px);
  transition: var(--transition);
}

.imageBehind:hover iframe {
  filter: grayscale(1) blur(1px);
  transition: var(--transition);
}

.fr-text {
  position: absolute;
  width: 95%;
  height: 35%;
  margin-top: -41%;
  padding-top: 10px;
  padding-left: 15px;
  font-family: var(--font1);
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 0 0 5px 5px;
  color: var(--white);
  transition: var(--transition);
  opacity: 0%;
}

.fr-text b {
  font-weight: 300;
  font-size: 1.75rem;
}

.fr-text i {
  font-size: 1rem;
  font-weight: 100;
}

.fr-text span {
  position: relative;
  z-index: 2;
  transition: var(--transition);
}

.imageBehind:hover .fr-text {
  background: var(--accent);
  transition: var(--transition);
  opacity: 100%;
}

picture>img {
  display: none;
}


/* ---------------------- This is Side-bar ---------------------*/

.left-bar {
  /* align-items: start; */
  background-color: var(--blue1);
  height: 100%;
}

.side-bar {
  grid-column: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0vw;
  background: var(--blue1);
  padding: 70px 55px 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: start;
}

.side-bar a {
  text-decoration: none;
  color: var(--white);
  border-bottom: 1px solid var(--white);
  font-family: var(--font1);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 0;
  transition: var(--transition);
}

.side-bar a:hover {
  color: var(--white);
  margin-right: -20px;
  transition: var(--transition);
}

/* ---------------------- This is TOP button ---------------------*/

.top-button {
  position: fixed;
  bottom: 60px;
  right: 0%;
  margin-right: -45px;
  transition: var(--transition);
}

.top-button a {
  text-decoration: none;
  color: var(--white);
  background: var(--accent);
  font-family: var(--font1);
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  transition: var(--transition);
}

.top-button a:hover {
  color: var(--white);
  background: var(--blue1);
  transition: var(--transition);
}

.top-button:hover {
  margin-right: 0px;
  transition: var(--transition);
}

/* ---------------------- This is Foot Note ---------------------*/
.foot-note {
  margin-top: 40px;
  width: 100%;
  font-family: var(--font1);
  color: var(--accent);
  text-align: center;
}


/* ---------------------- This is About Page ---------------------*/

.contact-info {
  max-width: 500px;
  /* margin-top: 50px; */
  justify-self: right;
  align-self: center;
  font-family: var(--font1);
}

.contact-title {
  /* text-align: center; */
  font-size: 4em;
  font-weight: 600;
  /* text-transform: capitalize; */
  color: var(--blue1);
  margin-top: 0px;
  margin-bottom: 20px;
}

.tab-contact {
  display: grid;
  grid-template-rows: repeat(3, 120px);
  grid-template-columns: 1fr;
  row-gap: 20px;
  align-items: center;
  margin-bottom: 12px;
  font-size: 1.2em;
}

.email-TH {
  padding: 10px 15px;
  border-radius: 5px;
  border: 3px solid var(--blue1);
  color: var(--blue1);
  line-height: 1.5em;
}

.email-TH p {
  text-transform: uppercase;
}

.e-mail {
  text-transform: lowercase;
  font-style: italic;
}

.social-media {
  height: 100%;
  background: var(--accent);
  border-radius: 5px;
  line-height: 1.75em;
  padding: 0px 15px;
  color: var(--white);
  text-transform: uppercase;
}

.social-media a {
  text-decoration: none;
  text-transform: lowercase;
  color: var(--white);
  background: var(--blue1);
  margin-left: -15px;
  font-weight: 700;
  text-align: start;
  padding: 5px 15px;
  border-radius: 0 5px 5px 0;
  transition: var(--transition);
}

.social-media a:hover {
  color: var(--white);
  padding-left: 50px;
}

.sub-about {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.sub-about a {
  text-decoration: none;
  color: var(--blue1);
  border: 3px solid var(--accent);
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  transition: var(--transition);
}

.sub-about a:hover {
  color: var(--white);
  background: var(--accent);
  transition: var(--transition);
}

.sub-about .resume {
  color: var(--white);
  background: var(--blue1);
  border: 3px solid var(--blue1);
}


/* ---------------------- This is Individual Artwork ---------------------*/

.artwork {
  margin: 60px auto;
  padding: 0 40px;
  display: flex;
  justify-content: center;
}

.artwork iframe,
img,
video {
  max-width: 800px;
  padding: 5px;
  border: 3px solid var(--accent);
  box-sizing: border-box;
}

.artwork picture {
  max-width: 800px;
}

.artwork picture>img,
video {
  max-width: 100%;
}

.tcontainer {
  max-width: 800px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
}

.atitle {
  font-family: var(--font1);
  color: var(--blue1);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.name {
  color: var(--accent);
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  /* margin-bottom: -20px; */
}

.year {
  font-style: italic;
  font-size: 1.75rem;
  font-weight: 500;
  margin-left: 0.5rem;
  color: var(--blue1);
}

.text {
  font-family: var(--font1);
  font-weight: 400;
  color: var(--dark);
  font-size: 1.2em;
  border-top: 8px solid var(--accent);
  margin-bottom: 80px;
}

.smtitle {
  color: var(--accent);
  font-weight: 600;
  line-height: 2em;
  font-size: 1.25rem;
  border-bottom: 3px solid var(--accent);
  text-transform: uppercase;
}


.navart {
  max-width: 800px;
  height: 100px;
  font-family: var(--font1);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 50px auto -30px;
  text-align: center;
}

.mlink {
  color: var(--white);
  background: var(--blue1);
  text-decoration: none;
  transition: var(--transition);
  padding: 10px 15px;
  border-radius: 5px;
}

.mlink:hover {
  color: var(--white);
  background: var(--accent);
  transition: var(--transition);
}

.ext-link {
  text-decoration: none;
  padding: 10px 15px;
  background: var(--accent);
  color: var(--white);
  border-radius: 5px;
  transition: var(--transition);
}

.ext-link:hover {
  background: var(--blue1);
  transition: var(--transition);

}

.concept {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.concept .artwork {
  max-width: 380px;
  padding: 0px;
  margin: 15px auto;
}


/* ---------------------- This is Responsive Media ---------------------*/


/* Laptop Screen */
@media screen and (max-width: 1500px) {

  .frame img {
    width: 400px;
    height: 600px;
  }

  .p-AW {
    margin-left: auto;
    margin-right: auto;
  }

  .grid-container-artwork {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-bottom: 80px; */
  }

  .frame-AW {
    justify-self: center;
  }

  .side-bar {
    left: 1%;
  }
}


/* Medium Laptop Screen */
@media screen and (max-width: 1300px) {

  /* Home Page */
  .grid-container {
    grid-template-columns: none;
  }

  .grid-container .intro {
    grid-row: 2;
    justify-self: center;
    padding: 0;
  }

  .grid-container .frame {
    grid-row: 1;
    justify-self: center;
    padding: 0;
  }

  .p-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .p-tag {
    text-align: center;
  }


  /* Projects Page */
  .left-bar {
    /* display: none; */
    height: 0px;
  }

  .grid-container-artwork {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .side-bar {
    position: sticky;
    position: -webkit-sticky;
    flex-direction: row;
    top: 0;
    width: 100%;
    padding: 0px;
    border-right: 0;
    border-radius: 0;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -20px;
    z-index: 2;
  }

  .side-bar a {
    color: var(--white);
    font-family: var(--font1);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 20px 15px 20px;
    border-bottom: 0px solid var(--blue1);
    margin: 0;
  }

  .side-bar a .active {
    background: var(--blue1);
  }

  .side-bar a:hover {
    color: var(--blue1);
    background: var(--white);
    padding: 15px 20px 15px 20px;
    margin-top: -5px;
    margin-right: 0px;
    transition: var(--transition);
  }


  /* Contact Page */
  .contact-info {
    justify-self: center;
  }

}


/* Smartphone Screen (width: 390px)*/
@media screen and (max-width: 800px) {

  /* All Page */
  .logo {
    display: none;
  }

  nav {
    justify-content: space-around;
    margin-top: 20px;
  }

  .nav-elements {
    width: 500px;
    justify-content: space-around;
    padding-right: 0%;
    margin-left: -40px;
  }

  /* Home and CT Page */

  .frame img {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
  }


  .grid-container {
    width: 100%;
    gap: 50px;
  }

  .intro {
    color: var(--blue1);
    font-family: var(--font1);
    font-size: 1em;
    text-align: left;
    justify-self: end;
  }

  .greet {
    font-size: 3.2em;
    text-align: center;
    padding: 0 20px;
  }

  .home-Text {
    text-align: center;
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 2em;
  }

  .CTA {
    margin-left: -45px;
    text-align: center;
  }

  .button-holder {
    margin-left: auto;
    margin-right: auto;
  }

  /* Projects Page */
  .grid-container-artwork {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    justify-content: center;
  }

  .top-button a {
    padding-left: 6px;
  }

  .top-button {
    margin-right: -50px;
  }

  .top-button:hover {
    margin-right: -50px;
    transition: var(--transition);
  }

  picture>img {
    display: initial;
  }

  picture>video {
    display: none;
  }


  /* SUB-Projects Page */
  .atitle {
    font-family: var(--font1);
    color: var(--blue1);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .year {
    font-size: 1.5rem;
  }

  .concept .artwork {
    padding: 0px 40px;
  }
}


@media screen and (prefers-color-scheme: dark) {
  body {
    /* background: var(--dark); */
  }
}