@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --blue1: rgb(36, 58, 90);
  --accent: rgb(180, 139, 109);
  --white: rgb(250, 250, 250);
  --dark: rgb(26, 26, 26);
  --font1: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  background: var(--white);
}

/* ---------------------- This is Navbar ---------------------*/

nav {
  width: 100%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font1);
  font-weight: 700;
}

.logo {
  color: var(--blue1);
  font-size: 1.5em;
  font-weight: 900;
  padding-left: 10%;
}

.nav-elements {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: var(--accent);
  padding-right: 10%;
  text-transform: uppercase;
}

.nav-elements a {
  color: var(--accent);
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.nav-elements li :hover {
  background: var(--blue1);
  color: var(--white);
}

.nav-elements li .active {
  color: var(--blue1);
  border-bottom: 3px solid var(--blue1);
  background: var(--white);
  border-radius: 0px;
}

/* ---------------------- This is Homepage ---------------------*/

.grid-container {
  width: 80%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 15vh;
}

.intro {
  color: var(--blue1);
  font-family: var(--font1);
  font-size: 1em;
  margin-top: -50px;
  text-align: left;
  justify-self: end;
}

.greet {
  font-family: var(--font1);
  font-size: 4em;
  font-weight: 600;
  line-height: 1.2em;
  text-align: right;
  text-transform: lowercase;
}

.greet span {
  text-transform: capitalize;
}

.left-Text {
  color: var(--accent);
  text-align: right;
  letter-spacing: 1.25px;
  line-height: 1.65em;
  font-size: 1.15em;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 50px;
}

.emp {
  font-weight: 700;
  padding: 0 5px;
  color: var(--white);
  background: var(--accent);
}

.CTA {
  margin-left: 38px;
  font-size: 1.15em;
  font-weight: 500;
}

.button-holder {
  background: var(--blue1);
  border-radius: 15px;
  float: right;
  width: 400px;
  height: 125px;
  margin-left: -10%;
  padding-left: 12px;
  padding-top: 15px;
}

.button {
  color: var(--white);
  text-decoration: none;
  font-weight: 900;
  font-size: 1.75em;
  letter-spacing: 1.25px;
  border-left: 3px solid var(--white);
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 100px;
  padding: 15px 30.5% 10px 15px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.button-holder :hover {
  color: var(--white);
  padding: 15px 30.5% 10px 15px;
  padding-bottom: 100px;

}

/* ---------------------- This is Homepage & CT Image ---------------------*/

.frame {
  justify-self: start;
}

.frame img {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
}

.face {
  padding: 5px;
  border: 3px solid var(--accent);
}

/* ---------------------- This is Gallery ---------------------*/

.p-layout {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 185px 1fr;
  column-gap: 75px;
  align-items: start;
}

.p-tag {
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--blue1);
  font-family: var(--font1);
  font-size: 3.5em;
  font-weight: 800;
  text-align: left;
}

.num {
  color: var(--white);
  -webkit-text-stroke: 2px var(--accent);
  padding: 0px 10px;
  border-bottom: 3px solid var(--accent);
}

.grid-container-artwork {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 50px;
  margin-bottom: 80px;

}

.frame-AW {
  justify-self: start;
  overflow: hidden;
  transition: 0.3s ease;
}

.frame-AW .imageBehind img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  padding: 5px;
  border: 3px solid var(--accent);
  object-fit: cover;
  filter: grayscale(0);
  transition: 0.3s ease;
}

.frame-AW .imageBehind iframe {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  padding: 5px;
  border: 3px solid var(--accent);
  object-fit: cover;
  filter: grayscale(0);
  transition: 0.3s ease;
  pointer-events: none;
}

.imageBehind:hover img {
  filter: grayscale(1) blur(1px);
  transition: 0.3s ease;
}

.imageBehind:hover iframe {
  filter: grayscale(1) blur(1px);
  transition: 0.3s ease;
}

.fr-text {
  position: absolute;
  width: 95.2%;
  height: 35.5%;
  margin-top: -40%;
  padding-top: 10px;
  padding-left: 15px;
  font-family: var(--font1);
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 0 0 15px 15px;
  color: var(--white);
  transition: 0.3s ease;
  opacity: 0%;
}

.fr-text b {
  font-weight: 300;
  font-size: 1.75rem;
}

.fr-text i {
  font-size: 1rem;
  font-weight: 100;
}

.fr-text span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease;
}

.imageBehind:hover .fr-text {
  background: var(--accent);
  transition: 0.3s ease;
  opacity: 100%;
}


/* ---------------------- This is Side-bar ---------------------*/

.side-bar {
  grid-column: 1;
  position: sticky;
  top: 0vw;
  background: var(--blue1);
  border-radius: 0px 0px 10px 10px;
  padding: 100px 0px 45px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
}

.side-bar a {
  text-decoration: none;
  color: var(--white);
  border-bottom: 1px solid var(--white);
  font-family: var(--font1);
  font-size: 120%;
  font-weight: 600;
  padding: 10px 0;
  margin: 0px 0px 0px 40px;
  transition: 0.3s ease;
}

.side-bar a:hover {
  color: var(--white);
  padding-left: 20px;
  margin-left: 70px;
  transition: 0.3s ease;
}

/* ---------------------- This is TOP button ---------------------*/

.top-button {
  position: fixed;
  bottom: 5%;
  right: 0%;
  margin-right: -47px;
  transition: 0.3s ease;
}

.top-button a {
  text-decoration: none;
  color: var(--white);
  background: var(--accent);
  font-family: var(--font1);
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 5px 0 0 5px;
  transition: 0.3s ease;
}

.top-button a:hover {
  color: var(--white);
  background: var(--blue1);
  transition: 0.3s ease;
}

.top-button:hover {
  margin-right: 0px;
  transition: 0.3s ease;
}

/* ---------------------- This is Foot Note ---------------------*/
.foot-note {
  width: 100%;
  font-family: var(--font1);
  color: var(--accent);
  text-align: center;
}


/* ---------------------- This is Contact Page ---------------------*/

.contact-info {
  max-width: 500px;
  justify-self: right;
  font-family: var(--font1);
}

.contact-title {
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  /* text-transform: capitalize; */
  color: var(--blue1);
  margin-top: 10px;
  margin-bottom: 20px;
}

.tab-contact {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  align-items: center;
  margin-bottom: 12px;
  font-size: 1.2em;

}

.email-TH {
  padding: 10px 15px;
  border-radius: 10px;
  border: 3px solid var(--blue1);
  color: var(--blue1);
  line-height: 1.5em;
}

.email-TH p {
  text-transform: uppercase;
}

.e-mail {
  text-transform: lowercase;
  font-style: italic;
}

.social-media {
  height: 100%;
  background: var(--accent);
  border-radius: 10px;
  line-height: 1.75em;
  padding: 0px 15px;
  color: var(--white);
  text-transform: uppercase;
}

.social-media a {
  text-decoration: none;
  text-transform: lowercase;
  color: var(--white);
  background: var(--blue1);
  margin-left: -15px;
  font-weight: 700;
  text-align: start;
  padding: 5px 15px;
  border-radius: 0 10px 10px 0;
  transition: 0.3s ease;
}

.social-media a:hover {
  color: var(--white);
  padding-left: 50px;
}

/* ---------------------- This is Individual Artwork ---------------------*/

.artwork {
  margin: 60px auto;
  max-width: 800px;
  padding: 5px 5px 1px 5px;
  border: 3px solid var(--accent);
}

.tcontainer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.atitle {
  font-family: var(--font1);
  color: var(--blue1);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.name {
  color: var(--accent);
  letter-spacing: 0.1rem;
}

.year {
  font-style: italic;
  font-size: 1.75rem;
  font-weight: 500;
  margin-left: 0.5rem;
  color: var(--blue1);
}

.text {
  font-family: var(--font1);
  font-weight: 400;
  color: var(--dark);
  font-size: 1.2em;
  border-top: 8px solid var(--accent);
  margin-bottom: 80px;
}

.smtitle {
  color: var(--accent);
  font-weight: 600;
  font-size: 1.25rem;
  border-bottom: 3px solid var(--accent);
  text-transform: uppercase;
}


.navart {
  max-width: 800px;
  height: 100px;
  font-family: var(--font1);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 50px auto -30px;
  text-align: center;
}

.mlink {
  color: var(--white);
  background: var(--blue1);
  text-decoration: none;
  transition: 0.3s ease;
  padding: 10px 15px;
  border-radius: 10px;
}

.mlink:hover {
  color: var(--white);
  background: var(--accent);
  transition: 0.3s ease;
}

.ext-link {
  text-decoration: none;
  padding: 10px 15px;
  background: var(--accent);
  color: var(--white);
  border-radius: 10px;
  transition: 0.3s ease;
}

.ext-link:hover {
  background: var(--blue1);
  transition: 0.3s ease;

}


/* ---------------------- This is Responsive Media ---------------------*/


/* Laptop Screen */
@media screen and (max-width: 1500px) {
  .p-AW {
    margin-left: auto;
    margin-right: auto;
  }

  .grid-container-artwork {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
  }

  .frame-AW {
    justify-self: center;
  }

  .side-bar {
    left: 1%;
  }
}


/* Medium Laptop Screen */
@media screen and (max-width: 1200px) {

  /* Home Page */
  .grid-container {
    grid-template-columns: none;
    margin-top: 5vh;
  }

  .grid-container .intro {
    grid-row: 2;
    justify-self: center;
    padding: 0;
  }

  .grid-container .frame {
    grid-row: 1;
    justify-self: center;
    padding: 0;
  }

  .p-layout {
    display: flex;
    flex-direction: column;
  }

  .p-tag {
    text-align: center;
  }


  /* Projects Page */
  .side-bar {
    flex-direction: row;
    top: 0;
    width: 100%;
    padding: 0px;
    background: var(--white);
    border-right: 0;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -30px;
    z-index: 2;
  }

  .side-bar a {
    color: var(--accent);
    font-family: var(--font1);
    font-size: 100%;
    font-weight: 600;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid var(--blue1);
    margin: 0;
  }

  .side-bar a .active {
    background: var(--blue1);
  }

  .side-bar {
    left: 10%;
  }


  /* Contact Page */
  .contact-info {
    justify-self: center;
  }

}


/* Smartphone Screen */
@media screen and (max-width: 800px) {

  /* Projects Page */
  .grid-container-artwork {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    justify-content: center;
  }
}


@media screen and (prefers-color-scheme: dark) {
  body {
    /* background: var(--dark); */
  }
}